body{
	background-color: black;
}
.navClass{
	display: block;
	width: 80%;
	height: 80px;
	background-color: black;
	margin-top: 2%;
	margin-left: 10%;
}
.navClass a{
	text-decoration: none;
	font-size: 35px;
	color: #FED100;
	font-weight: bold;
	margin-top: 10%;
	margin-left: 29%;
	justify-content: center;
}
a{
	color: #FED100;
	text-decoration: none;
}
a:hover{
	color: #fff;
}
p, h1{
	color: #fff;
}

.optA, .optB, .optC{
	display: block;
	background-color: black;
	height: 650px;
	width: 40%;
	margin-top: 10%;
	margin-left: 5%;
}

.optA2{
	display: block;
	background-color: #009B3A;
	height: 101%;
	width: 130%;
	margin-top: -130%;
	margin-left: 95%;

}


.optB2{	
	display: block;
	background-color: #009B3A;
	height: 101%;
	width: 130%;
	margin-top: -160%;
	margin-left: 95%;
}
.optC2{
	display: block;
	background-color: #009B3A;
	height: 101%;
	width: 130%;
	margin-top: -160%;
	margin-left: 95%;
}


.frame1 img, .frame2 img, .frame3 img{
	width: 100%;
	height: 220px;
}







@media only screen and (max-width: 600px){
	*{
		max-width: screen;
		margin-bottom: -15%;
	}
	
	.navClass a{
		font-size: 25px;
		margin-left: 30%;
	}

	.optA p, .optB p, .optC p{
		font-size: 13px;
		padding: 3%;
	}

	.optA h1, .optB h1, .optC h1{
		font-size: 20px;
	}

	.optA2{
		margin-top: -380%;
		margin-left: 100%;
		
	}
	.optB2{
		margin-top: -484%;
		margin-left: 100%;
		
	}
	.optC2{
		margin-top: -455%;
		margin-left: 100%;
	
	}

	.optC{
		margin-top: 35%;
	}
	

	.optA, .optB, .optC{
		padding-left: 2%;
		padding: 10%;
		padding-bottom: 20%;
	}

	.frame1 img, .frame2 img, .frame3 img{
		margin-top: 5%;
		padding: 2%;
		width: 100%;
		height: 200px;
	}

}


